.form{
    position: absolute;
    margin:5% 43% 5% 38%;
    width: 400px;
    height: 500px;
    border: 1px solid black;
    border-radius: 10% 30%;
}

input{
    position: relative;
    padding: 10px;
    display: block;
    margin: 10% auto;
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
  }
  .container {
    position: relative;
    min-height: 100vh;
    background: #ddd;
  }
  h1 {
    font: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    padding: 15px;
    color: #333;
    text-align: center;
    text-transform: capitalize;
  }
  p {
    font: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    color: #333;
    text-align: center;
    text-transform: capitalize;
  }
  .image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px;
  }
  .image {
    height: 250px;
    width: 300px;
    border: 5px solid #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    overflow: hidden;
    cursor: pointer;
  }
  .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
  }
  .image:hover img{
    transform: scale(1.1);
  }
  .popup-image{
    position: fixed;
    top: 0; left: 0;
    background: rgba(0,0,0,.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
  }
  .popup-image span{
    position: absolute;
    top: 0; right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
  }
  .popup-image img{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
  }