img{
    width: 500px;
    height: 300px;
}
body{
    text-align: center;
    background-color: aquamarine;
}
nav {
    overflow: hidden;
    list-style-type: none;
    font-size: 30px;
    text-align: left;
}
a{
    padding: 5px 5px
}
a:hover {
    background-color: azure;
}
.me{
    width: 500px;
    height: 600px; 
}
.center {
    margin-left: auto;
    margin-right: auto;
}
table, tr, td{
    border:5px solid black;
    padding: 10px 15px;
    border-collapse: collapse;
    font-size: 15px;
}